@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Kurale|Mali&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: black;
  --gray: lightgrey;
  --bright: white;
  --seagreen: lightseagreen;
  --purple: rebeccapurple;
  --green: limegreen;
  --red: red;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  background: var(--dark);
  color: var(--seagreen);
  height: 100vh;
  font-family: "Kurale", serif;
}

header {
  padding: 0.5rem;
}

header h1 {
  font-family: "Mali", cursive;
}

header h1 a {
  text-decoration: none;
  color: var(--seagreen);
}

section.auth {
  align-self: center;
  justify-self: center;
}

section.auth form {
  min-width: 20rem;
  max-width: 30rem;
  margin: 0 2rem;
}

section.auth form h2 {
  font-family: "Mali", cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

section.auth form fieldset {
  border: none;
  margin-bottom: 1rem;
}

section.auth form label {
  display: block;
  margin-bottom: 0.5rem;
}

section.auth form input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--purple);
  background-color: var(--dark);
  color: var(--green);
  font-size: 1rem;
}

section.auth form input::selection {
  background-color: var(--green);
  color: var(--dark);
}

section.auth form button {
  background-color: var(--purple);
  color: var(--green);
  border: none;
  font-family: "Mali", cursive;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: block;
  margin-left: auto;
  margin-bottom: 1rem;
}

section.auth nav {
  text-align: right;
}

section.auth nav a {
  font-family: "Mali", cursive;
  color: var(--green);
}

section.auth form fieldset.ok {
  color: var(--green);
}

section.auth form fieldset.ok input {
  border-color: var(--green);
  color: var(--green);
}

section.auth form fieldset.ok {
  background-color: var(--green);
  color: var(--bright);
}

section.auth form fieldset.error {
  color: var(--red);
}

section.auth form fieldset.error input {
  border-color: var(--red);
  color: var(--green);
}

section.auth form fieldset.error {
  background-color: var(--red);
  color: var(--bright);
}